@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

svg {
  display: inline;
}